.bottomnav {
	font-size:12px;
}
.nav li a {
	padding-right:0px;
	padding-left:0px;
}
.titlename span{
	color:#0f4583;
}
.myname{
	color:#0f4583;
}

body{
	padding-top:60px;
}
.list-group{
	padding-top:5px;
	margin-bottom:5px;
}
.bbb{
	height:50px;
	margin-top:20px;
	margin-bottom:70px;
}
.bbb:active{
	background-color:#337ab7;
}
.bbb:focus{
	background-color:#337ab7;
}
.flag{
	width:25px;
	margin-left:-10px;
}
.wtl{
	padding-top:5px;
}
.green.active{
	background-color:#1cc750;
}
.green.active.focus{
	background-color:#1cc750;
}
.yellow.active{
	background-color:#efca18;
}
.yellow.active.focus{
	background-color:#efca18;
}
.red.active{
	background-color:#e23220;
}
.red.active.focus{
	background-color:#e23220;
}
#myModal{
	margin-top:200px;
}
.modal-body{
	height:100px;
}
.md{
	margin-top:10px;
}
.close{
	font-size:35px;
}
@media (min-width: 768px){
	.navbar-nav{
	float:none;
	}
}
.inputt{
	width:80px;
}
.table>tbody>tr>td{
	padding-left:0px;
	padding-right:0px;
}
.tablelist{
	margin-bottom:70px;
}