.bottomnav {
	font-size:12px;
}
.nav li a {
	padding-right:0px;
	padding-left:0px;
}
#userName span{
	color:#0f4583;
}
#userScore span{
	color:#0f4583;
}
body{
	padding-top:60px;
}
.list-group{
	padding-top:5px;
	margin-bottom:5px;
}
#betbutton{
	height:50px;
	margin-top:20px;
	margin-bottom:70px;
}
#betbutton:active{
	background-color:#337ab7;
}
#betbutton:focus{
	background-color:#337ab7;
}
.flag{
	width:25px;
	margin-left:-10px;
}
.wtl{
	padding-top:5px;
}
.green.btn-md.active{
	background-color:#1cc750;
}
.green.btn-md.active.focus{
	background-color:#1cc750;
}
.yellow.btn-md.active{
	background-color:#efca18;
}
.yellow.btn-md.active.focus{
	background-color:#efca18;
}
.red.btn-md.active{
	background-color:#e23220;
}
.red.btn-md.active.focus{
	background-color:#e23220;
}
#myModal{
	margin-top:50%;
}
.modal-body{
	height:100px;
}
.md{
	margin-top:10px;
}
.close{
	font-size:35px;
}